# Development
DEV_POSTGRES_USER=
DEV_POSTGRES_PASSWORD=
DEV_POSTGRES_DB=
DEV_POSTGRES_PORT=

# Production
PROD_POSTGRES_USER=
PROD_POSTGRES_PASSWORD=
PROD_POSTGRES_DB=
PROD_POSTGRES_PORT=

# Server prod
PROD_SERVER_PORT=

# Server dev
DEV_SERVER_PORT=

# Web
DEV_WEB_PORT=
PROD_WEB_PORT=

# VITE_API_URL=http://localhost:3000