# Environment
NODE_ENV=
HOST=
PORT=

# Database (dev окружение)
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DATABASE_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Frontend
FRONTEND_URL=

# CORS
CORS_ORIGIN=

# tRPC
TRPC_PLAYGROUND=

# Database pool settings
DB_POOL_MAX=
DB_IDLE_TIMEOUT=
DB_CONNECTION_TIMEOUT=