# Environment
NODE_ENV=production
HOST=
PORT=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Frontend
FRONTEND_URL=

# CORS
CORS_ORIGIN=

# tRPC
TRPC_PLAYGROUND=

# Database pool settings
DB_POOL_MAX=
DB_IDLE_TIMEOUT=
DB_CONNECTION_TIMEOUT=