@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #0f172a,
    #0b1120
  ); /* from-slate-950 to-slate-900 */
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
}
